@model TipoCuenta

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-@Model.Id">
  Eliminar
</button>

<div class="modal fade" id="modal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar @Model.Id</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <h6>Esta seguro que quiere eliminar la cuenta @Model.Nombre ?</h6>
      </div>
      <form asp-action="Borrar" class="modal-footer">
        <input type="hidden" asp-for="Id">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </form>
    </div>
  </div>
</div>
